[submodule "applications/external"]
	path = upstream/momentum-fork/applications/external
	url = https://github.com/joseguzman1337/Momentum-Apps.git
	branch = dev
[submodule "assets/protobuf"]
	path = upstream/momentum-fork/assets/protobuf
	url = https://github.com/joseguzman1337/flipperzero-protobuf.git
	shallow = false
	branch = dev
[submodule "lib/mlib"]
	path = upstream/momentum-fork/lib/mlib
	url = https://github.com/joseguzman1337/mlib.git
[submodule "lib/nanopb"]
	path = upstream/momentum-fork/lib/nanopb
	url = https://github.com/joseguzman1337/nanopb.git
[submodule "lib/libusb_stm32"]
	path = upstream/momentum-fork/lib/libusb_stm32
	url = https://github.com/joseguzman1337/libusb_stm32.git
[submodule "lib/FreeRTOS-Kernel"]
	path = upstream/momentum-fork/lib/FreeRTOS-Kernel
	url = https://github.com/joseguzman1337/FreeRTOS-Kernel.git
[submodule "lib/microtar"]
	path = upstream/momentum-fork/lib/microtar
	url = https://github.com/joseguzman1337/microtar.git
[submodule "lib/mbedtls"]
	path = upstream/momentum-fork/lib/mbedtls
	url = https://github.com/joseguzman1337/mbedtls.git
[submodule "lib/heatshrink"]
	path = upstream/momentum-fork/lib/heatshrink
	url = https://github.com/joseguzman1337/heatshrink.git
[submodule "lib/st_cmsis_device_wb"]
	path = upstream/momentum-fork/lib/stm32wb_cmsis
	url = https://github.com/joseguzman1337/cmsis-device-wb.git
[submodule "lib/stm32wbxx_hal_driver"]
	path = upstream/momentum-fork/lib/stm32wb_hal
	url = https://github.com/joseguzman1337/stm32wbxx-hal-driver.git
[submodule "lib/stm32wb_copro"]
	path = upstream/momentum-fork/lib/stm32wb_copro
	url = https://github.com/joseguzman1337/stm32wb_copro.git
[submodule "documentation/doxygen/doxygen-awesome-css"]
	path = upstream/momentum-fork/documentation/doxygen/doxygen-awesome-css
	url = https://github.com/joseguzman1337/doxygen-awesome-css.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = https://github.com/joseguzman1337/lwip.git
	branch = master
[submodule "lib/uzlib"]
	path = lib/uzlib
	url = https://github.com/joseguzman1337/uzlib.git
	branch = master
[submodule "upstream/flipperzero-firmware"]
	path = upstream/flipperzero-firmware
	url = https://github.com/joseguzman1337/flipperzero-firmware
