name: 'Unit tests'
on:
  pull_request:

env:
  TARGETS: f7
  DEFAULT_TARGET: f7
  FBT_TOOLCHAIN_PATH: /opt/
  FBT_GIT_SUBMODULE_SHALLOW: 1

jobs:
  unit_attempt_1:
    runs-on: [ self-hosted, FlipperZeroTest ]
    outputs:
      timed_out: ${{ steps.check_timeout.outputs.timed_out }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Flash unit tests firmware
        id: flashing
        timeout-minutes: 1
        run: |
          source scripts/toolchain/fbtenv.sh
          ./fbt resources firmware_latest flash LIB_DEBUG=1 FIRMWARE_APP_SET=unit_tests FORCE=1

      - name: Copy assets and unit data, reboot and wait for flipper
        id: copy
        if: steps.flashing.outcome == 'success'
        timeout-minutes: 2
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py -t=15 await_flipper
          python3 scripts/storage.py -f send build/latest/resources /ext
          python3 scripts/storage.py -f send /region_data /ext/.int/.region_data
          python3 scripts/power.py reboot
          python3 scripts/testops.py -t=30 await_flipper

      - name: Run units and validate results
        id: run_units
        if: steps.copy.outcome == 'success'
        timeout-minutes: 5
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py run_units

      - name: Upload test results
        if: failure() && steps.flashing.outcome == 'success' && steps.run_units.outcome != 'skipped'
        uses: actions/upload-artifact@v4
        with:
          name: unit-tests_output
          path: unit_tests*.txt

      - name: Check GDB output
        if: failure() && steps.flashing.outcome == 'success'
        run: |
          ./fbt gdb_trace_all LIB_DEBUG=1 FIRMWARE_APP_SET=unit_tests FORCE=1

      - name: Check for timeout
        id: check_timeout
        if: failure()
        run: |
          echo "outcome" "${{ steps.flashing.outcome }}" "conclusion" "${{ steps.flashing.conclusion }}" "exitCode" "${{ steps.flashing.exitCode }}"
          ls "${{ github.workspace }}"
          ls "${{ github.workspace }}/logs"
          if grep -q "has timed out" "${{ github.workspace }}/logs/job/job-logs.txt" 2>/dev/null; then
            echo "timed_out=true" >> $GITHUB_OUTPUT
          elif [ "${{ steps.flashing.conclusion }}" == "timed_out" ] || \
             [ "${{ steps.copy.conclusion }}" == "timed_out" ] || \
             [ "${{ steps.run_units.conclusion }}" == "timed_out" ]; then
            echo "timed_out=true" >> $GITHUB_OUTPUT
          else
            echo "timed_out=false" >> $GITHUB_OUTPUT
          fi

  unit_attempt_2:
    needs: unit_attempt_1
    if: needs.unit_attempt_1.outputs.timed_out == 'true'
    runs-on: [ self-hosted, FlipperZeroTest ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Flash unit tests firmware
        id: flashing
        timeout-minutes: 5
        run: |
          source scripts/toolchain/fbtenv.sh
          ./fbt resources firmware_latest flash LIB_DEBUG=1 FIRMWARE_APP_SET=unit_tests FORCE=1

      - name: Copy assets and unit data, reboot and wait for flipper
        id: copy
        if: steps.flashing.outcome == 'success'
        timeout-minutes: 5
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py -t=15 await_flipper
          python3 scripts/storage.py -f send build/latest/resources /ext
          python3 scripts/storage.py -f send /region_data /ext/.int/.region_data
          python3 scripts/power.py reboot
          python3 scripts/testops.py -t=30 await_flipper

      - name: Run units and validate results
        id: run_units
        if: steps.copy.outcome == 'success'
        timeout-minutes: 5
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py run_units

      - name: Upload test results
        if: failure() && steps.flashing.outcome == 'success' && steps.run_units.outcome != 'skipped'
        uses: actions/upload-artifact@v4
        with:
          name: unit-tests_output
          path: unit_tests*.txt

      - name: Check GDB output
        if: failure() && steps.flashing.outcome == 'success'
        run: |
          ./fbt gdb_trace_all LIB_DEBUG=1 FIRMWARE_APP_SET=unit_tests FORCE=1
