name: 'Updater test'
on:
  pull_request:

env:
  TARGETS: f7
  DEFAULT_TARGET: f7
  FBT_TOOLCHAIN_PATH: /opt/
  FBT_GIT_SUBMODULE_SHALLOW: 1

jobs:
  updater_attempt1:
    runs-on: [self-hosted, FlipperZeroTest]
    outputs:
      timed_out: ${{ steps.check_timeout.outputs.timed_out }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Flashing target firmware
        id: first_full_flash
        timeout-minutes: 5
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py -t=180 await_flipper
          ./fbt flash_usb_full FORCE=1

      - name: Validating updater
        id: second_full_flash
        if: steps.first_full_flash.outcome == 'success'
        timeout-minutes: 4
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py -t=180 await_flipper
          ./fbt flash_usb FORCE=1
          python3 scripts/testops.py -t=180 await_flipper

  updater_attempt2:
    needs: updater_attempt1
    if: failure()
    runs-on: [self-hosted, FlipperZeroTest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Flashing target firmware
        timeout-minutes: 4
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py -t=180 await_flipper
          ./fbt flash_usb_full FORCE=1 DEBUG=1

      - name: Validating updater
        timeout-minutes: 4
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py -t=180 await_flipper
          ./fbt flash_usb FORCE=1  DEBUG=1
          python3 scripts/testops.py -t=180 await_flipper

      - name: Check GDB output
        if: failure()
        run: |
          ./fbt gdb_trace_all FORCE=1
